<form *ngIf="marker" (ngSubmit)="onSubmit()" #listForm="ngForm">
<section class="py-5"> 
    <div class="container px-4 px-lg-5 mt-5 flex-column">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 mb-5 justify-content-center ">
            <div class="box-details-little m-3">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 justify-content-center mb-5 mt-2">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title"
                            required
                            [(ngModel)]="marker.title"
                            name="title"
                            #title="ngModel">
                        </div>

                        <div class="form-group">
                            <label for="position">Position</label>
                            <input type="text" class="form-control" id="position"
                            required
                            [(ngModel)]="marker.position"
                            name="position"
                            #position="ngModel">
                        </div>
                        <div class="form-group">
                            <label for="lat">Lat</label>
                            <input type="number" class="form-control" id="lat"
                            required
                            [(ngModel)]="marker.lat"
                            name="lat"
                            #lat="ngModel">
                        </div>
                        <div class="form-group">
                            <label for="lng">Lng</label>
                            <input type="number" class="form-control" id="lng"
                            required
                            [(ngModel)]="marker.lng"
                            name="lng"
                            #lng="ngModel">
                        </div>

                        <div class="form-group">
                            <label for="pays">Pays</label>
                            <input type="text" class="form-control" id="pays"
                            required
                            [(ngModel)]="marker.pays"
                            name="pays"
                            #pays="ngModel">
                        </div>

                        <div class="form-group">
                            <label for="habitant">Habitants</label>
                            <input type="text" class="form-control" id="habitant"
                            required
                            [(ngModel)]="marker.habitant"
                            name="habitant"
                            #habitant="ngModel">
                        </div>

                        <div class="form-group">
                            <button type="submit"
                            [disabled]="!listForm.form.
                            valid">
                            Valider
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>
